<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJSogcHLp6yW66UDrzYmCChvdLXyY8VWM</string>
	<key>GCM_SENDER_ID</key>
	<string>530728841648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inspectionApp</string>
	<key>PROJECT_ID</key>
	<string>inspection-73d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>inspection-73d4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530728841648:ios:59c4b266a493d45bf62675</string>
</dict>
</plist>